body {
  background-image: url("https://source.unsplash.com/random/1600x900/?blockchain,crypto");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}